
[alias]
	st = status
	ci = commit
	co = checkout
	amend = commit --amend
	b = branch
[user]
	email = alec@deviant-logic.net
	name = Alec
[push]
	default = simple
[pull]
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
